/*COLOUR-PALETTE.HTML STYLING*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');

/*GENERAL STYLES*/
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FBF4EE;
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
}

a {
  text-decoration: none;
  margin-left: 5px;
}

a:hover{
  color: #1E1D17;
}

a:active{
  color: #FBF4EE;
}

/* buttons */
button{
   all: unset;
   background-color: #E18E26;
   color: #FBF4EE;
   padding: 5px 20px;
   cursor: pointer;
   font-weight: 500;
   border-radius: 10px;
   text-align: center;
}


/* GENERAL LAYOUT*/
#main-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 50px;
  width: 100vw;
  max-width: 2000px;
  padding: 60px 100px;
}


/*HEADER SECTION*/
#logo {
    grid-row: 1;
}

#logo img{
    max-width: 350px;
}


/*MOVIE INFORMATION SECTION*/
#movie-information-container{
    grid-row: 2;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}


/*movie information and palettes*/
#movie-title{
    grid-row: 3;
    font-size: 25px;
    font-weight: 600;
    color: #1E1D17;
    margin-bottom: 5px;
}

#movie-poster{
    grid-column: 1;
}

#movie-poster img{
    width: auto;
    height: 420px;
}

#movie-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 50px;
    height: 100%;
}

#movie-title{
    margin: 0px;
    font-size: 25px;
    font-weight: 600;
}

#colour-palette-heading{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;

}


.colour-palette{
    grid-row: 5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

#palette-1{
    margin-bottom: 10px;
}

#palette-2{
    margin-bottom: 5px;
}

#colour-palette-group {
    margin-top: auto;
}


/* VISUALISER SECTION */
#visualiser-container{
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 3fr;
    background-color: #F8E9D8;
    /* stretching background colour across full viewport */
    width: 100vw;
    margin-left: calc(-1 * 100px);
    margin-right: calc(-1 * 100px);
    padding: 60px 100px;
}

#visualiser-heading{
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: center;
    font-size: 22px;
    font-weight: 600;
}


#dulux-colours-container{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.matched-colour-palette{
}

#room-container{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


#room-selector{
}

#e-commerce-container{
    grid-row: 4;
}

/* COLOUR PALETTE STYLING */
.colour-box {
     width: 50px;
     height: 150px;
     margin: 0px;
}

.matched-colour-box {
     width: 100px;
     height: 50px;
     margin: 0px;
}

.dulux-paint-name{
    font-size: 12px;
    font-weight: 400;
    color: #1E1D17;
    padding: 5px;
}

.dulux-buy-link{
    font-size: 12px;
    font-weight: 500;
    color: #E18E26;
    margin-top: 1px;
}


/*MEDIA QUERIES and WEBKIT/ FIREFOX*/
/* center content vertically on taller screens */
@media (max-width: 930px) {
  .colour-box {
    width: 50px;
    height: 75px;
  }
}

@media (max-width: 633px) {
  .colour-box {
    width: 50px;
    height: 50px;
  }
}
/* Chrome, Safari, Edge Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #FBF4EE;
}

::-webkit-scrollbar-thumb {
  background-color: #E18E26;
  border-radius: 6px;
  border: 3px solid #FBF4EE;
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #E18E26 #FBF4EE;
}



/*VISUALISER SECTION*/
#visualiser {
    grid-row: 4;
}

.bedroom-preview1 {
    position: relative;
    display: inline-block;
    max-width: 800px;
}

.bedroom-preview1 .bedroom-base {
    display: block;
    width: 100%;
    height: auto;
}

.bedroom-preview1 .mask_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.bedroom-preview2 {
    position: relative;
    display: inline-block;
    max-width: 407px;   /* or whatever max width you want */
    max-height: 525px;  /* optional, based on your overlay aspect ratio */
}
.bedroom-preview2 .bedroom-base {
    width: 100%;    /* fill container horizontally */
    height: 100%;   /* fill container vertically */
}
.bedroom-preview2 .mask_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 407px;
    height: 525px;
    mix-blend-mode: multiply;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    mask-size: cover;