@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FBF4EE;
    margin-bottom: 50px;
}

a {
  text-decoration: none;
  margin-left: 5px;
}

a:hover{
  color: #1E1D17;
}

a:active{
  color: #FBF4EE;
}


/*COLOUR-PALETTE.HTML STYLING*/

/* general layout */
#main-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-left: 100px;
}

/*page title*/
#cinematch-title {
    grid-row: 1;
    color: #E18E26;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 20px;
}

/*movie information and palettes layout*/
#movie-title{
    grid-row: 2;
    font-size: 25px;
    font-weight: 600;
    color: #1E1D17;
    margin-bottom: 5px;
}

#movie-poster-section{
    grid-row: 3;
}

#movie-poster-section img{
    width: auto;
    height: 400px;
    object-fit: cover;
    object-position: 50% 35%;
}

#colour-palette{
    grid-row: 4;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

#prompt {
    grid-row: 5;
    font-size: 18px;
    font-weight: 600;
    color: #1E1D17;
    margin-bottom: 0px;
}

#matched-colour-palette{
    grid-row: 6;
}


/*colour palettes styling*/
.colour-box {
     width: 50px;
     height: 70px;
     margin: 0px;
}

.matched-colour-box {
     width: 100px;
     height: 50px;
     margin: 0px;
}

.dulux-paint-name{
    font-size: 12px;
    font-weight: 400;
    color: #1E1D17;
    padding: 5px;
}

.dulux-buy-link{
    font-size: 12px;
    font-weight: 500;
    color: #E18E26;
    margin-top: 1px;
}
