<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineMatch</title>

    <link rel="stylesheet" th:href="@{/styles-colours.css}" />
    <link rel="stylesheet" th:href="@{/overlays.css}" />

    <link rel="stylesheet" th:href="@{/movie-page.css}" />

</head>
<body>

<main id="main-container"> <!--grid 3 rows-->

    <!-- logo as back button !!!
    <div>
        <a id="back-button" th:href="@{'/movies#movie-' + ${movieDetail.id}}">Back to search results</a>
    </div>
    -->

    <div id="logo"> <!-- row 1 -->
        <img th:src="@{/cinematch-logo.png}" alt="CineMatch logo">

    </div>

    <section id="movie-information-container"> <!-- row 2 --> <!--grid 2 columns, 1 row-->
        <article id="movie-poster">
            <img th:src="${posterUrl}" alt="Movie Poster" />
        </article>  <!-- col 1 -->

        <article id="movie-details"> <!--col 2--> <!-- flexbox align col-->
            <p id="movie-title" th:text="${title}"></p>


            <div id="colour-palette-group">
                <p id="colour-palette-heading">colour palettes</p>

                <div class="colour-palette" id="palette-1">
                    <article class="colour-box"
                             th:each="colour : ${coloursArray}"
                             th:style="'background-color:' + ${colour}">
                    </article>
                </div>

                <div class="colour-palette" id="palette-2" th:if="${secondaryColours != null}">
                    <article class="colour-box"
                             th:each="colour : ${secondaryColours}"
                             th:style="'background-color:' + ${colour}">
                    </article>
                </div>
            </div>

        </article>
    </section>


    <section id="visualiser-container"> <!-- row 3--> <!-- grid box 2 columns, 2 rows-->
        <p id="visualiser-heading">Turn your room into a masterpiece — see it in Dulux</p> <!-- span col 1-2, row 1-->

        <article id="dulux-colours-container"> <!-- row 2 col 1--> <!-- flexbox -->
            <div class="matched-colour-palette" th:with="seenColours=${new java.util.HashSet()}">
                <div th:each="match : ${closestMatches}"
                         th:if="${seenColours.add(match.hexCode)}"
                         style="display: inline-block;">

                    <div class="matched-colour-box"
                         th:style="'background-color:' + ${match.hexCode}">
                        <p class="dulux-paint-name" th:text="${match.colourName}"></p>
                    </div>

                    <button type="button"
                            th:attr="data-colour=${match.hexCode}"
                            onclick="tryPaintA(this)">
                        Theme A
                    </button>

                    <button type="button"
                            th:attr="data-colour=${match.hexCode}"
                            onclick="tryPaintB(this)">
                        Theme B
                    </button>

                    <a class="dulux-buy-link"
                       th:href="${match.purchaseUrl}"
                       th:if="${match.purchaseUrl != null}"
                       target="_blank">
                        buy
                    </a>
                </div>
            </div>

            <!---second matched palette -->
            <section id="secondary-matched-colour-palette" th:with="seenColours=${new java.util.HashSet()}">
                <p id="prompt">Dulux Paints for Secondary Palette:</p>
                <article th:each="match : ${closestSecondaryMatches}"
                         th:if="${seenColours.add(match.hexCode)}"
                         style="display: inline-block;">
                    <div class="matched-colour-box"
                         th:style="'background-color:' + ${match.hexCode}">
                        <p class="dulux-paint-name" th:text="${match.colourName}"></p>
                    </div>

                    <button type="button"
                            th:attr="data-colour=${match.hexCode}"
                            onclick="tryPaintA(this)">
                        Theme A
                    </button>

                    <button type="button"
                            th:attr="data-colour=${match.hexCode}"
                            onclick="tryPaintB(this)">
                        Theme B
                    </button>

                    <a class="dulux-buy-link"
                       th:href="${match.purchaseUrl}"
                       th:if="${match.purchaseUrl != null}"
                       target="_blank">
                        buy
                    </a>
                  
                </article>
            </section>
        </article>


        <article id="room-container"> <!-- row 2 col 2 --> <!--flexbox-->
            <button id="room-selector">choose your room</button>
            <div class="bedroom-preview1">
                <img src="/images/bedroom/Base_image.jpg" class="bedroom-base" alt="Bedroom">
                <div id="bedroom-overlay"
                     class = "mask_overlay"
                     th:style="'-webkit-mask-image:url(' + @{/images/bedroom/Mask_Ceiling.png} + ');
                        mask-image:url(' + @{/images/bedroom/Mask_Ceiling.png} + ');'">
                </div>
                <div id="wall-overlay"
                     class = "mask_overlay"
                     th:style="'-webkit-mask-image:url(' + @{/images/bedroom/Mask_Wall-1.png} + ');
                        mask-image:url(' + @{/images/bedroom/Mask_Wall-1.png} + ');'">
                </div>
                <div id="wall2-overlay"
                     class = "mask_overlay"
                     th:style="'-webkit-mask-image:url(' + @{/images/bedroom/Mask_Wall-2.png} + ');
                        mask-image:url(' + @{/images/bedroom/Mask_Wall-2.png} + ');'">
                </div>
                <div id="nightstand-overlay"
                     class = "mask_overlay"
                     th:style="'-webkit-mask-image:url(' + @{/images/bedroom/Mask_Nightstand.png} + ');
                        mask-image:url(' + @{/images/bedroom/Mask_Nightstand.png} + ');'">
                </div>
            </div>

            <div class="bedroom-preview1">
                <img th:src="@{/images/bedroom/bedroom2/Poster_room_Original.jpg}" class="bedroom-base" />

                <div id="bedroom2-wall1-overlay"
                     class = "mask_overlay"
                     th:style="'-webkit-mask-image:url(' + @{/images/bedroom/bedroom2/Poster_room_Wall-1.png} + ');
                        mask-image:url(' + @{/images/bedroom/bedroom2/Poster_room_Wall-1.png} + ');'">
                </div>
                <div id="bedroom2-wall2-overlay"
                     class = "mask_overlay"
                     th:style="'-webkit-mask-image:url(' + @{/images/bedroom/bedroom2/Poster_room_Wall-2.png} + ');
                        mask-image:url(' + @{/images/bedroom/bedroom2/Poster_room_Wall-2.png} + ');'">
                </div>
                <div id="bedroom2-ceiling-overlay"
                     class = "mask_overlay"
                     th:style="'-webkit-mask-image:url(' + @{/images/bedroom/bedroom2/Poster_room_ceiling.png} + ');
                        mask-image:url(' + @{/images/bedroom/bedroom2/Poster_room_ceiling.png} + ');'">
                </div>
                <div id="bedroom2-coving-overlay"
                     class = "mask_overlay"
                     th:style="'-webkit-mask-image:url(' + @{/images/bedroom/bedroom2/Poster_room_coving.png} + ');
                        mask-image:url(' + @{/images/bedroom/bedroom2/Poster_room_coving.png} + ');'">
                </div>
                <img th:src="${posterUrl}"
                     style="position: absolute; top: 324px; left: 293px; width: 205px; height: 277px; z-index: 10;" />
            </div>
            </div>
        </article>
    </section>

    <section id="e-commerce-container"> <!-- row 3 --> <!-- probably a flex box -->
        <p id="e-commerce-heading">Bring your favourite scenes home</p>
        <article id="e-commerce-embed"> ecommerce goes here :) </article>

    </section>



    <script>
        function tryPaintA(button) {
            const colour = button.getAttribute("data-colour");


            const ceiling = document.getElementById("bedroom-overlay");
            const wall1 = document.getElementById("wall-overlay");
            if (ceiling) ceiling.style.backgroundColor = colour;
            if (wall1) wall1.style.backgroundColor = colour;


            const ceiling2 = document.getElementById("bedroom2-ceiling-overlay");
            const wall21 = document.getElementById("bedroom2-wall1-overlay");
            if (ceiling2) ceiling2.style.backgroundColor = colour;
            if (wall21) wall21.style.backgroundColor = colour;
        }

        function tryPaintB(button) {
            const colour = button.getAttribute("data-colour");


            const nightstand = document.getElementById("nightstand-overlay");
            const wall2 = document.getElementById("wall2-overlay");
            if (nightstand) nightstand.style.backgroundColor = colour;
            if (wall2) wall2.style.backgroundColor = colour;


            const coving2 = document.getElementById("bedroom2-coving-overlay");
            const wall22 = document.getElementById("bedroom2-wall2-overlay");
            if (coving2) coving2.style.backgroundColor = colour;
            if (wall22) wall22.style.backgroundColor = colour;

        }
    </script>

</main>
</body>
</html>