<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineMatch</title>
    <link rel="stylesheet" th:href="@{/movie-page.css}" />
</head>

<body>
    <main class="main-container">
        <p id="cinematch-title">CineMatch</p>

        <a id="back-button" th:href="@{'/movies#movie-' + ${movieDetail.id}}">Back to search results</a>

        <h2 id="movie-title" th:text="${title}"></h2>

        <section id="movie-poster-section">
            <img th:src="${posterUrl}" alt="Movie Poster" />
        </section>

        <section id="colour-palette">
            <article class="colour-box" th:each = "colour:${coloursArray}" th:style="'background-color:' + ${colour}">
            </article>
        </section>

        <section id="secondary-colour-palette" th:if="${secondaryColours != null}">
            <article class="colour-box" th:each="colour : ${secondaryColours}" th:style="'background-color:' + ${colour}">
            </article>
        </section>

        <section id="matched-colour-palette" th:with="seenColours=${new java.util.HashSet()}">
            <p id="prompt">Dulux Paints we suggest :</p>
            <article th:each="match : ${closestMatches}" th:if="${seenColours.add(match.hexCode)}" style="display: inline-block;">

                <div class="matched-colour-box" th:style="'background-color:' + ${match.hexCode}">
                    <p class="dulux-paint-name" th:text="${match.colourName}"></p>
                    <!--<p th:text="'Closest paint: ' + ${match.hexCode}"></p> -->
                </div>

                <a class="dulux-buy-link"
                   th:href="${match.purchaseUrl}"
                   th:if="${match.purchaseUrl != null}"
                   target="_blank">
                    buy
                </a>

            </article>
        </section>

    </main>

</body>
</html>
