<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CineMatch</title>
    <link rel="stylesheet" th:href="@{/style-sheet.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/cinematch-favicon.ico}">
    <link rel="shortcut icon" th:href="@{/cinematch-favicon.ico}" type="image/x-icon">
</head>
<body>

<main id="grid-container">

    <section id="search-menu-container">
        <div id="logo">
            <a th:href="@{/movies}">
                <img th:src="@{/cinematch-logo.png}" alt="CineMatch logo">
            </a>
        </div>

        <article class="search-form">
            <form action="/movies/search" method="get">
                <input id="searchbar" name="q" type="text" placeholder="Make your room look cinematic..." required>
                <button id="go-button" type="submit">go</button>
            </form>
        </article>

        <article id="filter-buttons">
            <button id="filter-button">sort</button>
            <a th:href="@{/movies/popular}">
                <button id="popular-button">popular</button>
            </a>
            <a th:href="@{/movies/top_rated}">
                <button id="top-rated-button">top rated</button>
            </a>
            <a th:href="@{/movies/upcoming}">
                <button id="upcoming-button">upcoming</button>
            </a>
          </article>

    </section>

    <article id="movie-selection-container">
        <ul id="movie-list">
            <li class="movie-poster"
                th:each="movie : ${movies}"
                th:id="'movie-' + ${movie.id}"
                th:data-title="${movie.title}">
                <a th:href="@{/movies/{id}(id=${movie.id})}">
                    <img th:src="${movie.posterUrl}" th:alt="${movie.title + ' poster'}"/>
                </a>
            </li>
        </ul>
    </article>

</main>
<script>
    //SCRIPT FOR SORT BUTTON
    document.addEventListener("DOMContentLoaded", () => {
        const sortButton = document.getElementById("filter-button");
        const movieList = document.getElementById("movie-list");

        // saving original order here
        const originalOrder = Array.from(movieList.querySelectorAll("li"));
        let sortState = 0;

        sortButton.addEventListener("click", () => {
            let movies;

            if (sortState === 0) {
                // sort a - z
                movies = [...originalOrder].sort((a, b) =>
                    a.dataset.title.toLowerCase().localeCompare(b.dataset.title.toLowerCase())
                );
                sortState = 1;
            }
            else if (sortState === 1) {
                // sort z - a
                movies = [...originalOrder].sort((a, b) =>
                    b.dataset.title.toLowerCase().localeCompare(a.dataset.title.toLowerCase())
                );
                sortState = 2;
            }
            else {
                // restore original order
                movies = [...originalOrder];
                sortState = 0;
            }

            // re-render
            movieList.innerHTML = "";
            movies.forEach(movie => movieList.appendChild(movie));
        });
    });
</script>

</body>

</html>